.icon{
    font-size: 25px;
    padding: 0px 10px;
}
.icon-delete{
    color: #da4646
}
.ic-edit{
    color: cadetblue;
}
.save-btn{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0px 10px;
}
.cancel-btn{
    background-color: #fff;
    color: #4CAF50;
    border: 1px solid;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0px 10px;
}